[submodule "dependencies/raylib"]
	path = dependencies/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
